<!-- @format -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Men's Shoes. Nike VN</title>
    <link class="jordan" rel="icon" href="img/nikeicon.png" />
    <!-- JQWERY -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.slim.min.js"></script>
    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <!-- ICON -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <!-- My CSS -->
    <link rel="stylesheet" href="cssGH/productsdetail.css">
    <link class="jordan" rel="stylesheet" href="cssGH/index.css" />
</head>
<style>
    /* Center the carousel */
    #product-carousel {
        margin: 0 auto;
        width: 100%;
        max-width: 600px;
    }

    /* Add some margin to the carousel indicators */
    .product-detail .carousel-indicators {
        margin-bottom: 20px;
    }

    /* Center the carousel indicators */
    .product-detail .carousel-indicators li {
        display: inline-block;
        width: 10px;
        height: 10px;
        margin: 0 5px;
        text-indent: -999px;
        cursor: pointer;
        background-color: #fff;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 50%;
    }

    .product-detail .carousel-indicators .active {
        background-color: #fff;
        background-color: rgba(255, 255, 255, 0.75);
    }

    /* Style the form-check elements */
    .product-detail .form-check {
        margin-bottom: 1rem;

    }

    /* Style the radio buttons */
    .product-detail .form-check-input {
        height: 1px;
        width: 1px;
        overflow: hidden;
        white-space: nowrap;
    }

    .product-detail .form-check-label {
        background: rgb(255, 255, 255);
        color: rgb(17, 17, 17);
        box-shadow: rgb(229 229 229) 0px 0px 0px 1px;
        height: 48px;
        border-radius: 4px;
        -webkit-box-flex: 1;
        flex-grow: 1;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
    }

    .product-detail .form-check-label:hover {
        box-shadow: rgb(17 17 17) 0px 0px 0px 1px inset;
    }

    .product-detail .form-check input[type="radio"]:checked+label {
        box-shadow: rgb(17 17 17) 0px 0px 0px 1px inset;
    }

    .product-detail button.ncss-btn-primary-dark.btn-lg {
        width: 100%;
        min-height: 60px;
        padding: 18px 24px;
    }

    .product-detail button.ncss-btn-secondary-dark {
        padding: 6px 20px;
        border-radius: 30px;
        border: 1.5px solid transparent;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        background: 0 0;
        color: #111;
        border-color: #ccc;
    }

    .product-detail button.ncss-btn-secondary-dark.btn-lg {
        width: 100%;
        min-height: 60px;
        padding: 18px 24px;
    }

    .product-detail button.ncss-btn-primary-dark {
        padding: 6px 20px;
        border-radius: 30px;
        border: 1.5px solid transparent;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        background: #111;
        color: #fff;
    }

    .product-detail .body-2 {
        font-size: 16px;
        line-height: 24px;
    }

    .product-detail .pb6-sm {
        padding-bottom: 24px;
    }

    .product-detail .pt8-sm {
        padding-top: 32px;
    }

    .product-detail ol,
    .product-detail ul {
        list-style: none;
        list-style-type: none;
    }

    .product-detail li {
        display: list-item;
        text-align: -webkit-match-parent;
    }

    .product-detail .ncss-list-ul .ncss-li {
        list-style-type: disc;
        margin-left: 16px;
    }

    #add-to-bag:hover {
        background-color: #000000ce;
    }
</style>

<body ng-app="myapp">
    <div class="container-fluid">

        <!-- PRODUCT DETAIL -->
        <div class="product-detail">
            <div ng-model="product" class="first-pdd row container-fluid d-flex justify-content-center m-0">
                <div class="carousel slide col-12 col-sm-12 col-md-8 col-xl-8">
                    <div id="product-carousel" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#product-carousel" data-slide-to="0" class="active"></li>
                            <li data-target="#product-carousel" data-slide-to="1"></li>
                            <li data-target="#product-carousel" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="d-block w-100" src="img/men/{{product.imagec}}"
                                    alt="First slide" />
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="img/men/{{product.imagea}}"
                                    alt="Second slide" />
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="img/men/{{product.imageb}}"
                                    alt="Third slide" />
                            </div>.
                            
                        </div>
                        <a class="carousel-control-prev" href="#product-carousel" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#product-carousel" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>

                <div class="detail-pd col-12 col-sm-12 col-md-4 col-xl-4 container" >
                    <h2>{{product.name}}</h2>
                    <p class="mt-2">{{product.des}} </p>

                    <p class="mb-5">{{product.price}}</p>
                    <p class="mt-5">Select Size</p>
                    <div ng-controller="SizeController" class="row">
                        <div class="form-check col-4" ng-repeat="size in sizes">
                            <input class="form-check-input" type="radio" name="size" id="size_{{size}}" ng-value="size"
                                ng-model="selectedSize">
                            <label class="form-check-label" id="label-{{size}}" for="size_{{size}}">
                                {{size}}
                            </label>
                        </div>
                    </div>

                    <div class="btn-ctrl mt-sm-10 mb-sm-6 pr-sm-6 pl-sm-6 pr-lg-l0 col mt-4 ">
                        <button aria-label="Add to Bag" id="add-to-bag"
                            class="ncss-btn-primary-dark btn-lg add-to-cart-btn"> Add to
                            Bag</button>
                    </div>
                    <div class="pt-5 prl6-sm prl0-lg">
                        <div class="description-preview body-2 css-1pbvugb">
                            <p>Intertwining functionality with fashion, the Air Max Bliss lets you bring chic style
                                outdoors. From rustic colours to desert-inspired textures (including faux snakeskin), it
                                delivers the perfect amount of wild. 2-tone laces nod to traditional hiking boots, while
                                the plush design pairs soft cushioning with pillowy padding around the ankle. Where will
                                your adventure take you?</p>
                            <ul class="description-preview__features pt8-sm pb6-sm ncss-list-ul">
                                <li class="description-preview__color-description ncss-li mb-3">Colour Shown: Pale
                                    Ivory/Summit White/Oatmeal/Picante Red</li>
                                <li class="description-preview__style-color ncss-li">Style: FB9752-100</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- CAROUSEL -->
        <div id="content">
            <div id="my-pics" class="carousel slide mb-5 position-relative" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators m-0 position-absolute fixed-bottom" id="active-carousel">
                    <li data-target="#my-pics" onclick="" data-slide-to="0" class="active"></li>
                    <li data-target="#my-pics" data-slide-to="1"></li>
                    <li data-target="#my-pics" data-slide-to="2"></li>
                    <li data-target="#my-pics" data-slide-to="3"></li>
                </ol>
                <div class="carousel-inner " id="active-carousel-product">
                    <div class="carousel-item active">
                        <div class="lider row container-fluid ml-0 p-0">
                            <a href="" class="media-container justify-content-center col-xl-3  col-md-3 col-6  ">
                                <img src="img/naf1a.jpg" class="img-fluid" alt="">
                                <div class=" row pb-0 justify-content-center">
                                    <div class=" p-0  col-xl-7 col-6 font">
                                        <h5 class="" style="font-size: 1rem;">Nike Air Force 1 '07</h5>
                                        <p class="" style="font-size: 0.7rem;">Men's Shoes</p>
                                    </div>
                                    <p class=" col-4  col-xl-4  text-right p-0" style="font-size: 0.9rem;">
                                        3,519,000₫
                                    </p>
                                </div>
                            </a>
                            <a href="" class="media-container justify-content-center col-xl-3  col-md-3 col-6  ">
                                <img src="img/naf1b.jpg" class="img-fluid" alt="">
                                <div class=" row pb-0 justify-content-center">
                                    <div class=" p-0  col-xl-7 col-6 font">
                                        <h5 class="" style="font-size: 1rem;">Nike Air Force 1 '07 LV8</h5>
                                        <p class="" style="font-size: 0.7rem;">Women's Shoes</p>
                                    </div>
                                    <p class=" col-4  col-xl-4  text-right p-0" style="font-size: 0.9rem;">
                                        3,829,000₫
                                    </p>
                                </div>
                            </a>
                            <a href="" class="media-container justify-content-center col-xl-3  col-md-3 col-6 ">
                                <img src="img/naf1c.jpg" class="img-fluid" alt="">
                                <div class=" row pb-0 justify-content-center">
                                    <div class=" p-0  col-xl-7 col-6 font">
                                        <h5 class="" style="font-size: 1rem;">Nike Air Force 1 '07 LV7</h5>
                                        <p class="" style="font-size: 0.7rem;">Men's Shoes</p>
                                    </div>
                                    <p class=" col-4  col-xl-4  text-right p-0" style="font-size: 0.9rem;">
                                        3,519,000₫
                                    </p>
                                </div>
                            </a>
                            <a href="" class="media-container justify-content-center col-xl-3  col-md-3 col-6  ">
                                <img src="img/naf1d.jpg" class="img-fluid" alt="">
                                <div class=" row pb-0 justify-content-center">
                                    <div class=" p-0  col-xl-7 col-6 font">
                                        <h5 class="" style="font-size: 1rem;">Nike Air Force 1 '05</h5>
                                        <p class="" style="font-size: 0.7rem;">Men's Shoes</p>
                                    </div>
                                    <p class=" col-4  col-xl-4  text-right p-0" style="font-size: 0.9rem;">
                                        3,599,000₫
                                    </p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="lider row container-fluid ml-0 p-0">
                            <a href="" class="media-container justify-content-center col-xl-3  col-md-3 col-6  ">
                                <img src="img/nam90.jpg" class="img-fluid" alt="">
                                <div class=" row pb-0 justify-content-center">
                                    <div class=" p-0  col-xl-7 col-6 font">
                                        <h5 class="" style="font-size: 1rem;">Nike Air Force Mid 90</h5>
                                        <p class="" style="font-size: 0.7rem;">Men's Shoes</p>
                                    </div>
                                    <p class=" col-4  col-xl-4  text-right p-0" style="font-size: 0.9rem;">
                                        2,919,000₫
                                    </p>
                                </div>
                            </a>
                            <a href="" class="media-container justify-content-center col-xl-3  col-md-3 col-6  ">
                                <img src="img/namSC.jpg" class="img-fluid" alt="">
                                <div class=" row pb-0 justify-content-center">
                                    <div class=" p-0  col-xl-7 col-6 font">
                                        <h5 class="" style="font-size: 1rem;">Nike Air Force Mid SC</h5>
                                        <p class="" style="font-size: 0.7rem;">Kid's Shoes</p>
                                    </div>
                                    <p class=" col-4  col-xl-4  text-right p-0" style="font-size: 0.9rem;">
                                        4,519,000₫
                                    </p>
                                </div>
                            </a>
                            <a href="" class="media-container justify-content-center col-xl-3  col-md-3 col-6 ">
                                <img src="img/nbmv.jpg" class="img-fluid" alt="">
                                <div class=" row pb-0 justify-content-center">
                                    <div class=" p-0  col-xl-7 col-6 font">
                                        <h5 class="" style="font-size: 1rem;">Nike Boot Mid LV7</h5>
                                        <p class="" style="font-size: 0.7rem;">Men's Shoes</p>
                                    </div>
                                    <p class=" col-4  col-xl-4  text-right p-0" style="font-size: 0.9rem;">
                                        5,519,000₫
                                    </p>
                                </div>
                            </a>
                            <a href="" class="media-container justify-content-center col-xl-3  col-md-3 col-6  ">
                                <img src="img/jordand3l.jpg" class="img-fluid" alt="">
                                <div class=" row pb-0 justify-content-center">
                                    <div class=" p-0  col-xl-7 col-6 font">
                                        <h5 class="" style="font-size: 1rem;">Nike Jordan 3 Low</h5>
                                        <p class="" style="font-size: 0.7rem;">Men's Shoes</p>
                                    </div>
                                    <p class=" col-4  col-xl-4  text-right p-0" style="font-size: 0.9rem;">
                                        3,499,000₫
                                    </p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="lider row container-fluid ml-0 p-0">
                            <a href="" class="media-container justify-content-center col-xl-3  col-md-3 col-6  ">
                                <img src="img/nomc.jpg" class="img-fluid" alt="">
                                <div class=" row pb-0 justify-content-center">
                                    <div class=" p-0  col-xl-7 col-6 font">
                                        <h5 class="" style="font-size: 1rem;">Nike One Mid C</h5>
                                        <p class="" style="font-size: 0.7rem;">Women's Shoes</p>
                                    </div>
                                    <p class=" col-4  col-xl-4  text-right p-0" style="font-size: 0.9rem;">
                                        2,519,000₫
                                    </p>
                                </div>
                            </a>
                            <a href="" class="media-container justify-content-center col-xl-3  col-md-3 col-6  ">
                                <img src="img/naj1mSEK.jpg" class="img-fluid" alt="">
                                <div class=" row pb-0 justify-content-center">
                                    <div class=" p-0  col-xl-7 col-6 font">
                                        <h5 class="" style="font-size: 1rem;">Air Jordan 1 Mid SE</h5>
                                        <p class="" style="font-size: 0.7rem;">Older Kids' Shoes</p>
                                    </div>
                                    <p class=" col-4  col-xl-4  text-right p-0" style="font-size: 0.9rem;">
                                        2,929,000₫
                                    </p>
                                </div>
                            </a>
                            <a href="" class="media-container justify-content-center col-xl-3  col-md-3 col-6 ">
                                <img src="img/naj1mSEM.jpg" class="img-fluid" alt="">
                                <div class=" row pb-0 justify-content-center">
                                    <div class=" p-0  col-xl-7 col-6 font">
                                        <h5 class="" style="font-size: 1rem;">Air Jordan 1 Mid SE</h5>
                                        <p class="" style="font-size: 0.7rem;">Men's Shoes</p>
                                    </div>
                                    <p class=" col-4  col-xl-4  text-right p-0" style="font-size: 0.9rem;">
                                        3,829,000₫
                                    </p>
                                </div>
                            </a>
                            <a href="" class="media-container justify-content-center col-xl-3  col-md-3 col-6  ">
                                <img src="img/naj1mSEW.jpg" class="img-fluid" alt="">
                                <div class=" row pb-0 justify-content-center">
                                    <div class=" p-0  col-xl-7 col-6 font">
                                        <h5 class="" style="font-size: 1rem;">Air Jordan 1 Mid SE</h5>
                                        <p class="" style="font-size: 0.7rem;">Women's Shoes</p>
                                    </div>
                                    <p class=" col-4  col-xl-4  text-right p-0" style="font-size: 0.9rem;">
                                        3,829,000₫
                                    </p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="lider row container-fluid ml-0 p-0">
                            <a href="" class="media-container justify-content-center col-xl-3  col-md-3 col-6  ">
                                <img src="img/naj1mNau.jpg" class="img-fluid" alt="">
                                <div class=" row pb-0 justify-content-center">
                                    <div class=" p-0  col-xl-7 col-6 font">
                                        <h5 class="" style="font-size: 1rem;">Air Jordan 1 Mid</h5>
                                        <p class="" style="font-size: 0.7rem;">Men's Shoes</p>
                                    </div>
                                    <p class=" col-4  col-xl-4  text-right p-0" style="font-size: 0.9rem;">
                                        3,669,000₫
                                    </p>
                                </div>
                            </a>
                            <a href="" class="media-container justify-content-center col-xl-3  col-md-3 col-6  ">
                                <img src="img/ndunkhight.jpg" class="img-fluid" alt="">
                                <div class=" row pb-0 justify-content-center">
                                    <div class=" p-0  col-xl-7 col-6 font">
                                        <h5 class="" style="font-size: 1rem;">Nike Dunk High</h5>
                                        <p class="" style="font-size: 0.7rem;">Older Kids' Shoes</p>
                                    </div>
                                    <p class=" col-4  col-xl-4  text-right p-0" style="font-size: 0.9rem;">
                                        2,549,000₫
                                    </p>
                                </div>
                            </a>
                            <a href="" class="media-container justify-content-center col-xl-3  col-md-3 col-6 ">
                                <img src="img/ndunkhightSE.jpg" class="img-fluid" alt="">
                                <div class=" row pb-0 justify-content-center">
                                    <div class=" p-0  col-xl-7 col-6 font">
                                        <h5 class="" style="font-size: 1rem;">Nike Dunk High SE</h5>
                                        <p class="" style="font-size: 0.7rem;">Women's Shoes</p>
                                    </div>
                                    <p class=" col-4  col-xl-4  text-right p-0" style="font-size: 0.9rem;">
                                        3,669,000₫
                                    </p>
                                </div>
                            </a>
                            <a href="" class="media-container justify-content-center col-xl-3  col-md-3 col-6  ">
                                <img src="img/ndunkhightretro.jpg" class="img-fluid" alt="">
                                <div class=" row pb-0 justify-content-center">
                                    <div class=" p-0  col-xl-7 col-6 font">
                                        <h5 class="" style="font-size: 1rem;">Nike Dunk High Retro</h5>
                                        <p class="" style="font-size: 0.7rem;">Men's Shoes</p>
                                    </div>
                                    <p class=" col-4  col-xl-4  text-right p-0" style="font-size: 0.9rem;">
                                        3,118,649₫
                                    </p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>





    <script>
        
        // var app = angular.module("myapp", []).controller("myCtrl", function ($scope, $http) {
        //     $scope.product = {

        //     };
        //     $http.get('Data/men-products.json').then(function (reponse) {
        //         $scope.product = reponse.data[0];
        //         console.log($scope.product)

        //     });
        // });
        // Initialize the carousel
        $(document).ready(function () {
            $("#product-carousel").carousel();
        });

        // Update the carousel on window resize
        $(window).on("resize", function () {
            $("#product-carousel").carousel("dispose");
            $("#product-carousel").carousel();
        });
        

    </script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"></script>

</body>

</html>